<<!DOCTYPE html>
<html>
  <body>
    <h2><center>Welcome to Tech-Match,  <%= @email %>!</center></h2>
    <h3 color="black">
      You have successfully signed up to Tech-Match.com!
    </h3>

    <h3 color="black">Thanks for joining and have a great day!</h3>
  </body>
</html>