<h1>Hello users! Please sign in!</h1>

<title>New User Sign in</title>


<p>Already have an account? Sign in!

<td><%=user.password_digest %></td>
<th>Remember Token</th>
<td><%= user.remember_token %></td>


 <!-- <p id="search">
    <button type="button" class="btn btn-default btn-lg" ><%= link_to 'New Account', sign_up_path , {:style=>'color:black;'} %></button>
  </p>

   <p id="search2">
    <button type="button" class="btn btn-default btn-lg"><%= link_to 'Log In Now', sign_in_path , {:style=>'color:black;'} %></button>
  </p> -->
  